<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="top-bar">
    <form th:action="@{/home}" th:method="get">
    <button class="home-btn">
        <img src="home-icon.png" alt="Home" class="icon">
    </button>
    </form>
    <h1>Food Dashboard</h1>
</div>

    <table class="food-table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="food : ${foods}">
            <td>
                <img th:src="@{'/foodImage/' + ${food.id}}" alt="Food Image" class="food-img">
            </td>
            <td th:text="${food.name}">Name</td>
            <td th:text="${food.price}">Price</td>
            <td th:text="${food.type}">Type</td>
            <td th:text="${food.description}">Description</td>
            <td>
                <a th:href="@{/editFood/{id}(id=${food.id})}" class="action-btn edit-btn">Edit</a>
                <a th:href="@{/deleteFood/{id}(id=${food.id})}" class="action-btn delete-btn" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="bottom-bar">
        <a class="action-btn add-btn" th:href="@{/addFood}">Add</a>
    </div>

</body>
</html>
